<!DOCTYPE HTML>
<html ng-app="livraria">
	<head>
	<meta charset="utf-8">
	<title>Livraria</title>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js" ></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!--script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.0.js"></script--> 

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="js/LivrariaController.js"></script>
	<!--script src="js/controllers/ModalController.js"></script-->

	</head>
	<body ng-controller="LivrariaController as livrariaCtrl">
		<nav class="navbar navbar-default">
		  <div class="container-fluid pull-right">
		    <ul class="nav navbar-nav">
		      <li ng-click="livrariaCtrl.reset()" ng-show="!livrariaCtrl.modoCarrinho"><a>Resetar <img src="static/restore.png" height="32" width="32"> </a></li>
		      <li ng-click="livrariaCtrl.criar()" ng-show="!livrariaCtrl.modoCarrinho"><a>Novo <img src="static/book.png" height="32" width="32"> </a></li>
		      <li ng-click="livrariaCtrl.modoCarrinho = true" ng-show="!livrariaCtrl.modoCarrinho"><a> Minhas compras <img src="static/carrinho.jpg" height="32" width="32"> </a></li>
		      <li ng-click="livrariaCtrl.modoCarrinho = false" ng-show="livrariaCtrl.modoCarrinho"><a> Home<img src="static/home.png" height="32" width="32"> </a></li>

		    </ul>
		  </div>
		</nav>
		<div ng-show="!livrariaCtrl.modoCarrinho">
			<div class="page-header">
			  <h1 align="center">Livraria</h1>
			</div>
			<div class="row">
			  <div class="col-sm-6 col-md-4" ng-repeat="livro in livrariaCtrl.db">
			    <div class="thumbnail">
			      <img src="{{livro.book.url_capa}}" height="300" width="140">
			      <div class="caption">
			        <h3>{{ livro.book.titulo }}</h3>
			        <p>{{ livro.book.descricao }}</p>
			        <p align="right">
			         	<a href="#" class="btn btn-default" role="button" ng-click="livrariaCtrl.editar($index)">Editar</a>
			         	<button class="btn btn-default" ng-click="livrariaCtrl.addAoCarrinho($index)">
	    					 <img src="static/buy.png" width="20"/> Comprar
						</button>
			         </p>
			         <div>
			         	<input type="text" size="46" ng-model="livrariaCtrl.comentario[$index]">
			         	<a href="#" class="btn btn-primary pull-right" role="button" ng-click="livrariaCtrl.comentar($index)">Comentar</a>
			         </div>
			         <h4>Comentarios</h4>
			         <div ng-repeat="comentario in livro.book.comentarios track by $index">
			         	<p> {{comentario}}</p>
			         </div>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		<div ng-show="livrariaCtrl.modoCarrinho">
			<div class="page-header">
				  <h1 align="center">Minhas compras</h1>
			</div>
			<div class="page-content">
				<ul class="list-group" ng-repeat="book in livrariaCtrl.carrinho track by $index">
				  <li class="list-group-item"><span class="badge">R$ {{book.preco}}</span> {{book.titulo}}</li>
				</ul>
				<ul class="list-group">
				  <li class="list-group-item active"><span class="badge">R$ {{livrariaCtrl.total}}</span> Total</li>
				</ul>
			</div>
		</div>
	</body>
</html>
